@import "//cdn.rawgit.com/necolas/normalize.css/master/normalize.css";
@import "//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css";

/**
 * Fonts
 */
@font-face {
    font-family: 'Concourse C3';
    src: url('Concourse C3 Regular.otf');
}

@font-face {
    font-family: 'Concourse T3';
    src: url('Concourse T3 Regular.otf');
    font-weight: bold;
}

/**
 * Responsive
 */
@media (max-width: 800px) {
    body {
        font-size: 14px !important;
    }

    h1 {
        font-size: 36px !important;
        padding-top: 10px;
    }

    .container {
        padding: 20px !important;
        padding-bottom: 0px !important;
        margin: 0 !important;
    }

    .name {
        font-size: 18px !important;
    }

    .details {
        width: calc(100% - 5px) !important;
    }

    .highlight {
        width: 5px !important;
    }

    .highlight .day {
        display: none;
    }

    footer {
        padding: 10px 20px !important;
    }
}


/**
 * Body
 */
body {
    font-family: 'Concourse T3';
    color: #333;
    /*background: url("/art_demo.jpg");
    background-size: cover;*/
    background: #eee;
}

.overlay {
    width: 100%;
    height: 100vh;
    z-index: -1;
    position: fixed;
    background: #333;
    top: 0;
    opacity: 0.6;
    display: none;
}

footer, .container {
    max-width: 800px;
    margin: auto;
}

.container {

    margin-top: 50px;
    border: 1px solid #eee;
    padding: 60px 75px;
    background: white;
}


h1 {
    font-size: 40px;
    margin-bottom: 50px;
}


/**
 * Highlight
 */
.highlight {
    display: flex;
    width: 75px;
    color: white;
    align-items: center;
    justify-content: center;
    background-color: #c77777;
}

.highlight[data-source='praktischefilosofie.nl'] {
    background-color: #9abf6d;
}

.highlight[data-source='rug.nl'] {
    background-color: #7796c7;
}



/**
 * Items
 */
ul.items {
    list-style: none;
}

.items li {
    display: flex;
    min-height: 75px;
    margin-bottom: 20px;
    /*box-shadow: 0px 1px 4px 0px #eee;*/
}

.items li .top {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.details {
    display: flex;
    width: calc(100% - 75px);
    padding: 6px 12px 6px 20px;
    flex-direction: column;
    /* min-height: 75px; */
    border: 1px solid #eee;
    border-left: none;
}

.city {
    margin-left: auto;
    display: inline-flex;
    justify-content: flex-end;
    width: 50px;
    white-space: nowrap;
}

.top, .bottom {
    color: #9d9d9d;
    display: flex;
}

.name {
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 75%;
    color: #333;
}

.highlight .day {
    font-size: 24px;
}


.text {
    padding-right: 15px;
}

.items li:hover {
    border-color: #ddd;
}

.items li:hover .details {
    border-color: #d2d2d2;
}


/**
 * Footer
 */
footer {
    padding: 10px;
    padding-bottom: 50px;
    text-align: right;
    font-size: 14px;
    display: flex;
    color: #aaa;
    justify-content: space-between;
}

footer a {
    color: inherit;
}

footer a:hover {
    color: #777;
}


/**
 * Month separator
 */
.month-separator {
    display: flex;
    align-items: center;
    margin-top: 60px;
    color: #909090;
    margin-bottom: 15px;
    width: 100%;
    padding: 0 5px;
    font-family: Concourse C3;
    justify-content: space-between;
}

.month-separator:first-of-type {
    margin-top: 50px !important;
}
