@import "//cdn.rawgit.com/necolas/normalize.css/master/normalize.css";
@import "//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css";

body {
    font-family: NeuzeitGroTOT;
    color: #333;
    /*background: url("/art_demo.jpg");
    background-size: cover;*/
    background: #eee;
}

.overlay {
    width: 100%;
    height: 100vh;
    z-index: -1;
    position: fixed;
    background: #333;
    top: 0;
    opacity: 0.6;
    display: none;
}

footer {
    padding: 10px 5px;
    padding-bottom: 50px;
    text-align: right;
    font-size: 12px;
    color: #aaa;
}

footer, .container {
    max-width: 800px;
    margin: auto;
}

.container {

    margin-top: 50px;
    border: 1px solid #eee;
    padding: 60px 75px;
    background: white;
}


h1 {
    font-size: 40px;
    margin-bottom: 50px;
}


ul.items {
    list-style: none;
}

.items li {
    display: flex;
    min-height: 75px;
    margin-bottom: 20px;
}

/**
 * Highlight
 */
.highlight {
    display: flex;
    width: 75px;
    color: white;
    align-items: center;
    justify-content: center;
    background-color: #c77777;
}

.highlight[data-source='praktischefilosofie.nl'] {
    background-color: #9abf6d;
}


.items li .top {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.details {
    display: flex;
    width: calc(100% - 75px);
    padding: 6px 12px 6px 20px;
    flex-direction: column;
    /* min-height: 75px; */
    border: 1px solid #eee;
    border-left: none;
}

.city {
    margin-left: auto;
    display: inline-flex;
    justify-content: flex-end;
}

.top, .bottom {
    color: #9d9d9d;
    display: flex;
}

.name {
    font-size: 20px;
    width: 400px;
    color: #333;
}

.highlight .day {
    font-size: 24px;
}


.month-separator {
    display: flex;
    margin-top: 75px;
    color: #a5a5a5;
    margin-bottom: 15px;
    padding: 5px;
}

.text {
    color: grey;
    margin-bottom: 15px;
}

.items li:hover {
    border-color: #ddd;
}

.items li:hover .details {
    border-color: #d2d2d2;
}


.month-separator:first-of-type {
    margin-top: 50px !important;
}

footer a {
    color: inherit;
}

footer a:hover {
    color: #777;
}